
@{
    ViewBag.Title = "ListaContratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaContratos</h2>

<script>

    $(document).ready(function () {
        Mensaje("ListaCompras");
    });
</script>