
@{
    ViewBag.Title = "PendientesPorDevengar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>    
    
    var xpathLstPendientesxDeveng = '@Url.Action("ListaExpPendientesxDevengar", "Siaf")';
</script>

<script src="~/Content/jsnegocio/PendientesxDevengar.js">

</script>
<br />

<h2>PendientesPorDevengar</h2>

<div class="container row">

    <div id="divListaExpedientesxDevengar">
        <div class="col-6">
            <h2 class="text-info">Lista de Pendientes por Devengar</h2>
        </div>
        <div class="col-3 offset-3" style="display:none;">
            <a asp-action="Upsert" asp-controller="Books" class="btn btn-info form-control text-white">
                Agregar Servicio
            </a>
        </div>
        <div class="col-12 border p-3">
            <table id="dtPendientesxDevengar" class="table table-striped table-bordered" style="width:100%">
            </table>
        </div>
    </div>
</div>

