body {
}

.panel-heading {
    background-color: #e5e5e5;
    color: #646565;
    padding: 15px 10px;
    margin-bottom: 10px;
}

/*Estilos de tabla entregable*/

.cabecera-1 {
    background: #FBFDFF;
}

.cabecera-2 {
    padding: 2px 1px 1px 2px;
    border: solid 1px #C1C1C1;
    color: #0266b4;
    background-color: #F1F1F1;
    font: 11px Tahoma;
    font-weight: bold;
    height: 22px;
}


.cuerpo {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border: solid 1px #C1C1C1;
}

.text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    border: 1px solid #337ab7;
    border-radius: 8px;
}



.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}


.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #28a745;
}


.invalido {
    border-color: #dc3545;
}

.valido {
    border-color: #28a745;
}

